<!--<!-詳細ページ　1つのタイトルだけ。削除、編集もつける--->

<div class='row'>
<div class='col-md-3'>
<%= render 'books/book', book: @newbook, user: @user %>
</div>
</div>

<div class='row'>
<div class='col-md-8'>

<h1>Book detail</h1>
<table class="table table-striped">
<!--投稿ユーザー画像入れるとこ　5章参照-->
<thead>
    <tr>
      <th colspan="5"></th>
    </tr>
</thead>

 <tbody><tr>
  <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "images/no_image.jpg" %>
    <%= link_to user_path(@user.id) do %>
    <%= @book.user.name %>
    <% end %>
    </td>

  <td><%= link_to book_path(@book.id) do %>
  <%= @book.title %>
  <% end %>
  </td>

  <td><%= @book.body %></td>
  <% if @book.user == current_user %>
  <td><%= link_to "削除", book_path(@book), method: :delete %> </td>
  <td><%= link_to "編集", edit_book_path(@book) %> </td>
    </tr>
    <% end %>
    </tbody>
</table>

</div>
</div>